
/* ***********Navbar****************** */

.topbar ul {
    list-style: none;
}

.navbar {
    background-color: rgba(228, 220, 220, 0.664);
}

.navbar-brand {
    color: black;
}

.nav-item a {
    color: white;
    font-size: 20px;
}

/* ****************carousel******************************* */
.carousel-item img {
    height: 33rem;
}

.carousel-caption {
    margin-bottom: 200px;
    background-color: rgba(29, 28, 28, 0.514);
}



/* **********section our offered menus****************** */



.card-img-overlay h3 {
    background-color: rgba(255, 255, 0, 0.267);
}

.card-img-overlay {
    background-color: rgba(0, 0, 0, 0.486);
}

.card-img-overlay:hover {
    background-color: transparent;
    cursor: pointer;
}

.card-text {
    display: none;
}

.card:hover .card-text {
    display: block;
  
    background-color: rgba(56, 54, 54, 0.568);

    cursor: pointer;
}
.imageMenu{
    height: 17rem;
    width:18rem;
}
.bouton{
background-color: rgb(165, 165, 8) !important; 
}
